*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font: white;
}
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/23027.jpg) ;
    background-size: cover;
    background-position: center;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: white;
}
#nav h2{
    font-size: 25px;
    font-weight: 400;
}
#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
#full{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.105);
    top: 0%;
    right: -40%;
    backdrop-filter: blur(10px);
    padding : 110px 60px;
}
#full h4{
    color: white;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 10px;
    
}
#full i{
     position: absolute;
     top: 5%;
     right: 10%;
     background-color: white;
     border-radius: 50%;
     padding: 5px;
     font-weight: 600;
     font-size: 25px;
     cursor: pointer;
}